.logo {
  width: 7em;
  padding: 1rem 0.5rem;
  padding-bottom: 0.3rem;
}

.search_icon{
    background-color: #febd69 !important;
    border-color: #febd69 !important;
}

.header-signin{
  color: white;
}

.signin-hello{
  font-size: 0.9rem !important;
  margin-bottom: 0;
}


.cart-icon{
  font-size: 2rem !important;
}